<%- include("../layouts/adminheader") %>

<h2 class="page-title">Add a page</h2>
<a href="/admin/pages" class = "btn btn-primary">Back to all pages</a>
<br><br>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>

    <tbody>
        <% pages.forEach(function(page) { %>
            <tr>
            <td><%= page.title %></td>
            <td><a href="/admin/pages/edit-page/<%= page.slug %>">Edit</a></td>
            
            <% if(page.title == "Home") { %>
                 <td></td>
            <% } else { %>
            
                <td><a class="confirmDeletion" href="/admin/pages/delete-page/<%=page._id%>">Delete</a></td>
            <% } %>
            </tr>
        <% }) %>
    </tbody>
</table>

<%- include("../layouts/adminfooter") %>
